---
apiVersion: apps.openshift.io/v1
kind: DeploymentConfig
metadata:
  labels:
    provider: yokd
    project: configmapcontroller
    app: openshift-core
    group: eu.comparegroup.origin
  name: configmapcontroller
  namespace: {{ namespace }}
spec:
  replicas: 1
  revisionHistoryLimit: 2
  selector:
    project: configmapcontroller
    provider: yokd
    app: openshift-core
    group: eu.comparegroup.origin
  strategy:
    rollingParams:
      timeoutSeconds: 3600
    type: Rolling
  template:
    metadata:
      labels:
        provider: yokd
        project: configmapcontroller
        app: openshift-core
        group: eu.comparegroup.origin
    spec:
      containers:
      - args:
        env:
        - name: KUBERNETES_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        image: fabric8/configmapcontroller
        name: configmapcontroller
        resources:
          limits:
            memory: 200Mi
            cpu: 20m
          requests:
            memory: 100Mi
            cpu: 2m
        securityContext:
          privileged: false
  triggers:
  - type: ConfigChange
  - imageChangeParams:
      automatic: true
      containerNames:
      - configmapcontroller
      from:
        kind: ImageStreamTag
        name: configmapcontroller:latest
    type: ImageChange
