---
apiVersion: v1
kind: Secret
metadata:
  name: {{ oc_cg_cluster_setup_nexus_secret_name }}
  namespace: {{ namespace }}
data:
  .dockercfg: eyJkb2NrZXItQ0cuY2duZXQubmwiOnsidXNlcm5hbWUiOiJkZXZlbG9wbWVudCIsInBhc3N3b3JkIjoiOWFrM1RCeGdtMmZBMWZqbSIsImVtYWlsIjoiaXRvcHMtYm94QGNvbXBhcmVncm91cC5ldSIsImF1dGgiOiJaR1YyWld4dmNHMWxiblE2T1dGck0xUkNlR2R0TW1aQk1XWnFiUT09In19
type: kubernetes.io/dockercfg